*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.pageSection{
    margin: 20px;
}

.pageTitle{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnAdd{
    text-align: center;
    border-radius: 12px;
    color: white;
    background-color: royalblue;
    padding: 8px;
    margin-left: 16px;
}

.btnProdi{
    text-align: center;
    margin-right: 16px;
    border-radius: 12px;
    color: white;
    background-color: royalblue;
    padding: 8px;

}

.tableContainer{
    /* background-color: red; */
    margin: 15px;
    padding: 15px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #04397f6b;
}

.table-div{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.table-detail{
    width: 100%;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #04397f6b;
}





footer {
    text-align: center;
}